transformers==4.20.1
tqdm==4.65.0
# scikit-image==0.20.0
# scikit-learn==1.2.2
# scipy==1.10.1
datasets==2.9.0
pytorch-lightning==2.0.2
torch==2.0.1
torchdata==0.6.1
torchinfo==1.7.2
torchmetrics==0.11.4
torchsampler==0.1.2
torchtext==0.15.2
numpy==1.23.5
fairseq==0.12.2
pandas==2.0.1
Pillow==9.5.0
protobuf==3.20.3
sentencepiece==0.1.99
